* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* body {
  width: 100%;
} */
#header img {
  width: 60px;
  margin-left: 30px;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(202, 219, 219);
  position: sticky;
  top: 0;
  z-index: 950;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: centre;
}
#navbar li {
  list-style: none;
  padding: 0px 20px;
  text-decoration: none;
  position: relative;
}

#navbar li a {
  font-size: 15px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
#navbar li a:hover,
#navbar li a.active {
  /* color: rgb(85, 85, 197); */
  color: rgb(47, 97, 47);
}
#navbar li a.active::after,
#navbar li a:hover::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 35%;
  /* background: rgb(85, 85, 197); */
  background: rgb(47, 97, 47);
  bottom: -3px;
  left: 25px;
}
#hero {
  background-image: url("image/bgdd.png");
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: top 20% right 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgb(202, 219, 219);
  padding: 0 50px;
}
#hero h2 {
  color: rgb(49, 155, 49);
  font-size: 40px;
}

#hero h1 {
  font-size: 30px;
}

#hero button {
  background-color: rgb(131, 156, 148);
  color: rgb(47, 97, 47);
  margin-left: 20px;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 16 px;
  font-weight: 400;
}
#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .freeshipping {
  border: 1px solid antiquewhite;
  padding: 10px 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0.9);
  border-radius: 6px;
  margin: 5px 15px;
  color: aqua;
  height: 150px;
}
#features .freeshipping img {
  width: 150px;
}
.section-p1 {
  padding: 30px 200px;
}
#features .freeshipping h6 {
  color: aquamarine;
  background-color: black;
  padding: 2px 8px;
  padding-right: 10px;
  margin-left: 15px;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 2;
  margin-bottom: -5px;
  margin-right: 15px;
  justify-content: center;
}
#features .newproduct {
  border: 2px solid red;
  padding: 10px 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0.9);
  border-radius: 6px;
  margin: 5px 15px;
  color: aqua;
  display:flex;
  flex-direction: column;
  align-items:center;
  height:150px;
}
#features .newproduct img {
  width: 100px;
  height: auto;
}
#features .newproduct h6 {
  color: rgb(1, 5, 4);
  background-color: rgb(179, 224, 217);
  padding: 2px 8px;
  padding-right: 10px;
  margin-left: 15px;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 2;
  margin-bottom: -5px;
  margin-right: 15px;
  justify-content: center;
}
#features .savemoney {
  border: 1px solid antiquewhite;
  padding: 10px 5px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0.9);
  border-radius: 6px;
  margin: 5px 15px;
  color: aqua;
  height:150px;
}
#features .savemoney img {
  width: 150px;
  margin-left: 5px;
  padding: -20px -10px;
  margin-bottom: -30px;
  margin-top: -10px;
}
#features .savemoney h6 {
  color: aquamarine;
  background-color: black;
  padding: 2px 8px;
  padding-right: 10px;
  margin-left: 15px;
  border-radius: 4px;
  margin-top: 10px;
  line-height: 2;
  margin-bottom: -5px;
  margin-right: 15px;
  justify-content: center;
}
#product1 {
  text-align: center;
}
#product1 .for {
  width: 20%;
  min-width:180px
  padding: 10px 15px;
  border: 1px solid rgba(127, 255, 255, 0.925);
  margin: 10px 5px;
}
#product1 .for img {
  width: 60%;
  border-radius: 20px
  padding: 5px 8px;
  margin: 5px 10px;
  background-color: aqua;
}
#product1 .for .des{
  text-align: start;
  padding: 7px 2px;
}

#product1 .for .des .star{
  color:aqua;
  font-size: 10px;
}
#product1 .for .cart{
  width:40px;
  height:40px;
  background-color: aqua;
  color:antiquewhite;
  border-radius: 35px;
  font-weight:350px;
  position:absolute;
  bottom:20px;
  right:10px;
}